<button type="button" class="btn btn-primary" (click)="openScanner()">Scan barcodes</button>


<div class="row" style="margin: 20px">
  <table class="table table-dark">
    <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>Quantity</th>
      <th>Batch</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.description}}</td>
      <td>
        {{item.status}}
      </td>
      <td>
        {{item.qty}}
      </td>
      <td>
        {{item.batch}}
      </td>
    </tr>

    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary" (click)="submit()">Submit</button>

