<div class="row">
  asdasdasdasdasd
  asdasdasdasdasd
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>Quantity</th>
      <th>Batch</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>item.id</td>
      <td>item.description</td>
      <td>
        item.status
      </td>
      <td>
        item.batch
      </td>
      <td>
        item.status
      </td>
    </tr>

    </tbody>
  </table>
</div>
