table {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="table"] {
    width: 100%;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.h3 {
  align-content: center;
}

.centerDiv {
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.cardmargin {
  margin: 15px!important;
  border: 2px grey!important;
}

.card-img-maxsize {
  max-height: 500px;
}

.card {
  padding: 10px;
  box-shadow: 5px 10px #888888;
  max-width: 420px;
}

.card-deck {
  justify-content: center;
}

.margin {
  margin: 10px;
}

.text-center-ver {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tp-wrapper {
  -webkit-perspective: 500px;
  perspective: 500px;
}

.tp-box {
  position: relative;
  max-width: 420px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform         : transform 1s;
  -ms-transform         : transform 1s;
  transform         : transform 1s;
}
.tp-box__side {
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  text-align: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tp-box__front {
  -webkit-transform : rotateY(0deg);
  -ms-transform     : rotateY(0deg);
  transform         : rotateY(0deg);
}
.tp-box__back {
  -webkit-transform : rotateY(-180deg);
  -ms-transform     : rotateY(-180deg);
  transform         : rotateY(-180deg);
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
