<div class="container-fluid">
  <div class="scanner-shell">
    <header *ngIf="shouldShowCameraChoose()">
      <mat-form-field appearance="fill">
        <label>
          <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
            <option value="" [selected]="!currentDevice">No Device Selected</option>
            <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                    [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
          </select>
        </label>
      </mat-form-field>
    </header>

    <zxing-scanner [formats]="[ 'CODE_128']" [torch]="torchEnabled"  (torchCompatible)="onTorchCompatible($event)" (scanSuccess)="onResult($event)"  [(device)]="currentDevice" (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)">
</zxing-scanner>
</div>
<section class="results" *ngIf="success">
  <div class="center">
    <p>Success ! Scanned product's bar code: <strong>{{ code }}</strong></p>
  </div>
  <button mat-icon-button (click)="clearResult()">&times;</button>
</section>
<section class="error" *ngIf="error">
  <div class="center">
    <p>Unfortunately the product has not been scanned. Please verify.</p>
  </div>
  <button mat-icon-button (click)="clearError()">&times;</button>
</section>

<div *ngIf="canFinish()" style="text-align: center; margin-top: 20px"><h3>Scan {{items.length - itemsChecked.size}} more to finish</h3></div>
<div *ngIf="!canFinish()" style="text-align: center; margin-top: 20px"><h3>Scan barcode with order id </h3></div>
<button *ngIf="canUpdate()" type="button" class="btn btn-primary" style="margin: 0 auto" (click)="canRestart()">Restart data</button>


<div class="row" style="margin: 20px">
  <table class="table table-dark table-responsive-sm">
    <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>Quantity</th>
      <th>Batch</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.description}}</td>
      <td>
        <p *ngIf="item.status === 'Unchecked'" style="color: red">{{item.status}}</p>
        <p *ngIf="item.status === 'Checked'" style="color: green">{{item.status}}</p>
      </td>
      <td>
        {{item.quantity}}
      </td>
      <td>
        {{item.batch}}
      </td>
    </tr>

    </tbody>
  </table>

  <button *ngIf="canUpdate()" type="button" class="btn btn-primary" style="margin: 0 auto" (click)="updateData()">Update data</button>
</div>
  </div>
