
<div class="scanner-shell">
<zxing-scanner [formats]="[ 'CODE_128']" (scanSuccess)="onResult($event)"  [(device)]="currentDevice" (camerasFound)="onCamerasFound($event)">
</zxing-scanner>
</div>
<section class="results" *ngIf="code">
  <div class="center">
    <p>Success ! Scanned product's bar code: <strong>{{ code }}</strong></p>
  </div>
  <button mat-icon-button (click)="clearResult()">&times;</button>
</section>
<div class="row" style="margin: 20px">
  <table class="table table-dark">
    <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Status</th>
      <th>Quantity</th>
      <th>Batch</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.description}}</td>
      <td>
        <p *ngIf="item.status === 'Unchecked'" style="color: red">{{item.status}}</p>
        <p *ngIf="item.status === 'Checked'" style="color: green">{{item.status}}</p>
      </td>
      <td>
        {{item.quantity}}
      </td>
      <td>
        {{item.batch}}
      </td>
    </tr>

    </tbody>
  </table>
</div>
