.text-bold-black {
  font-weight: bold;
  color: black!important;
}

.navbar .navbar-dark .breadcrumb .nav-item .nav-link .navbar .navbar-dark .navbar-nav .nav-item .nav-lin {
  font-weight: bold;
  color: black!important;
}
